@model List<Room>

<link href="~/css/table.css" rel="stylesheet" />

<a class="nav-link text-dark" asp-area="" asp-controller="Room" asp-action="Create">Add new Room</a>
<table>
    <tr>
        <th>Subject Name</th>
        
        <th>Delete</th>
    </tr>


    @foreach (Room room in Model)
    {
        <tr>
            <td>@room.RoomName</td>
          
            <td>
                <a href="/Room/Delete/@room.RoomId">Delete @room.RoomName</a>
            </td>
        </tr>
    }
</table>
